@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}

:root {
    --bg-primary: white;
    --bg-secondary: #050218;
    --text-color-primary: #050218;
    --text-color-secondary: #ffffff;
    --btn-color-primary: #050218;
    --btn-color-secondary: #050218
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit
}

img {
    width: 100%;
    height: auto
}

.text-center {
    text-align: center
}

.container {
    max-width: 1400px;
    margin: 0 auto
}

.header {
    background-color: var(--bg-primary);
    padding: 1em;
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--btn-color-primary)
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.navbar_brand {
    font-size: 21px;
    color: var(--text-color-primary)
}

.navbar_menu {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 25px;
    font-weight: 500
}

.navbar_buttons {
    display: flex;
    gap: .5em
}

.navbar_button {
    display: inline-block;
    border: solid 1px var(--btn-color-primary);
    background-color: transparent;
    padding: .5em;
    color: var(--text-color-primary);
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer
}

.button_login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color-primary);
    border: solid 1px var(--btn-color-primary);
    color: var(--text-color-secondary)
}

/// 
.msj-contacto {
    width: 35w;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.cont-campo {
    margin-bottom: 10px
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: poppins;
    font-size: x-small
}

section {
    display: flex;
    justify-content: center
}

.tarjeta-contacto {
    height: 90vh;
    width: 1000px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff
}

.tarjeta-login {
    height: 80vh;
    width: 1000px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff
}

.intro-contacto {
    flex-basis: 50%;
    padding-left: 10vw;
    display: flex;
    justify-content: left;
    flex-direction: column
}

.form-contacto {
    flex-basis: 40%;
    box-sizing: border-box
}

.intro-contacto h3 {
    font-family: poppins;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px
}

.intro-contacto p {
    font-family: poppins;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 15px
}

.intro-contacto span {
    font-family: poppins;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 15px
}

.titulo-intro h1 {
    font-family: poppins;
    font-size: xx-large;
    margin-bottom: 10px
}

.titulo-intro {
    margin-top: 10px;
    margin-bottom: 10px
}

.titulo-intro a {
    font-family: poppins;
    font-size: 12px;
    text-decoration: underline;
    font-style: italic
}

.boton {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 34px;
    font-family: poppins;
    font-size: small;
    margin-top: 12px;
    transition: .4s
}

.boton:hover {
    color: #050218;
    background-color: #fff
}

select {
    width: 100%;
    height: 28px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #f7f7f7;
    color: #050218;
    font-family: poppins;
    font-size: x-small;
    border-color: #f7f7f7
}

.radiobutton-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: #fff
}

.radiobutton-card input {
    appearance: none;
    border-radius: 50%;
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid #4d4c4c;
    transition: .2s all linear;
    margin-right: 5px;
    top: 4px;
    margin-left: 5px;
    margin-right: 5px
}

.radiobutton-card input:checked {
    border: 5px solid #000
}

input {
    width: 100%;
    height: 28px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #f7f7f7;
    color: #050218;
    font-family: poppins;
    font-size: x-small;
    border-color: #f7f7f7
}

textarea {
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 1px;
    height: 100px;
    resize: vertical;
    border-color: #f7f7f7
}

.footer_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20%;
    padding: 2em;
    border-top: var(--bg-secondary) solid 1px;
    background-image: linear-gradient(200deg, rgba(213, 213, 213, .01) 0, rgba(213, 213, 213, .01) 14.286%, rgba(140, 140, 140, .01) 14.286%, rgba(140, 140, 140, .01) 28.572%, rgba(52, 52, 52, .01) 28.572%, rgba(52, 52, 52, .01) 42.858%, rgba(38, 38, 38, .01) 42.858%, rgba(38, 38, 38, .01) 57.144%, rgba(159, 159, 159, .01) 57.144%, rgba(159, 159, 159, .01) 71.42999999999999%, rgba(71, 71, 71, .01) 71.43%, rgba(71, 71, 71, .01) 85.71600000000001%, rgba(88, 88, 88, .01) 85.716%, rgba(88, 88, 88, .01) 100.002%), linear-gradient(337deg, rgba(25, 25, 25, .01) 0, rgba(25, 25, 25, .01) 12.5%, rgba(150, 150, 150, .01) 12.5%, rgba(150, 150, 150, .01) 25%, rgba(84, 84, 84, .01) 25%, rgba(84, 84, 84, .01) 37.5%, rgba(85, 85, 85, .01) 37.5%, rgba(85, 85, 85, .01) 50%, rgba(188, 188, 188, .01) 50%, rgba(188, 188, 188, .01) 62.5%, rgba(80, 80, 80, .01) 62.5%, rgba(80, 80, 80, .01) 75%, rgba(73, 73, 73, .01) 75%, rgba(73, 73, 73, .01) 87.5%, rgba(219, 219, 219, .01) 87.5%, rgba(219, 219, 219, .01) 100%), linear-gradient(203deg, rgba(233, 233, 233, .01) 0, rgba(233, 233, 233, .01) 25%, rgba(114, 114, 114, .01) 25%, rgba(114, 114, 114, .01) 50%, rgba(164, 164, 164, .01) 50%, rgba(164, 164, 164, .01) 75%, rgba(228, 228, 228, .01) 75%, rgba(228, 228, 228, .01) 100%), linear-gradient(317deg, rgba(139, 139, 139, .02) 0, rgba(139, 139, 139, .02) 16.667%, rgba(44, 44, 44, .02) 16.667%, rgba(44, 44, 44, .02) 33.334%, rgba(166, 166, 166, .02) 33.334%, rgba(166, 166, 166, .02) 50.001000000000005%, rgba(2, 2, 2, .02) 50.001%, rgba(2, 2, 2, .02) 66.668%, rgba(23, 23, 23, .02) 66.668%, rgba(23, 23, 23, .02) 83.33500000000001%, rgba(21, 21, 21, .02) 83.335%, rgba(21, 21, 21, .02) 100.002%), linear-gradient(328deg, rgba(3, 3, 3, .03) 0, rgba(3, 3, 3, .03) 12.5%, rgba(116, 116, 116, .03) 12.5%, rgba(116, 116, 116, .03) 25%, rgba(214, 214, 214, .03) 25%, rgba(214, 214, 214, .03) 37.5%, rgba(217, 217, 217, .03) 37.5%, rgba(217, 217, 217, .03) 50%, rgba(68, 68, 68, .03) 50%, rgba(68, 68, 68, .03) 62.5%, rgba(118, 118, 118, .03) 62.5%, rgba(118, 118, 118, .03) 75%, rgba(200, 200, 200, .03) 75%, rgba(200, 200, 200, .03) 87.5%, rgba(198, 198, 198, .03) 87.5%, rgba(198, 198, 198, .03) 100%), linear-gradient(97deg, rgba(195, 195, 195, .03) 0, rgba(195, 195, 195, .03) 16.667%, rgba(177, 177, 177, .03) 16.667%, rgba(177, 177, 177, .03) 33.334%, rgba(170, 170, 170, .03) 33.334%, rgba(170, 170, 170, .03) 50.001000000000005%, rgba(158, 158, 158, .03) 50.001%, rgba(158, 158, 158, .03) 66.668%, rgba(121, 121, 121, .03) 66.668%, rgba(121, 121, 121, .03) 83.33500000000001%, rgba(146, 146, 146, .03) 83.335%, rgba(146, 146, 146, .03) 100.002%), linear-gradient(268deg, rgba(103, 103, 103, .03) 0, rgba(103, 103, 103, .03) 25%, rgba(112, 112, 112, .03) 25%, rgba(112, 112, 112, .03) 50%, rgba(4, 4, 4, .03) 50%, rgba(4, 4, 4, .03) 75%, rgba(227, 227, 227, .03) 75%, rgba(227, 227, 227, .03) 100%), linear-gradient(90deg, #050218, #050218);
    color: var(--text-color-secondary);
    flex-wrap: wrap
}

.footer .footer_content li {
    color: #afb1b3;
    margin-top: .7em
}

.footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4em
}

.footer_logo img {
    width: 5em
}

.footer_copy {
    padding: 1em;
    background-color: var(--bg-secondary);
    border-top: 1px solid #fff;
    color: var(--text-color-secondary);
    font-size: 14px
}

@media only screen and (max-width:992px) {
    body {
        background-color: #1004f3
    }
}

@media only screen and (max-width:768px) {
    body {
        background-color: #0fcd45
    }
}

@media only screen and (max-width:576px) {
    body {
        background-color: #cd0f22
    }

    .navbar_buttons,
    .navbar_menu {
        display: none
    }
}